<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <h1>Salon de Beauté - Back Office</h1>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/clients">Clients</a></li>
                <li><a href="/rendezvous">Rendez-vous</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/employes">Employés</a></li>
                <li><a href="/factures">Factures</a></li>
            </ul>
        </nav>
    </header>
  
</body>
</html>
