<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside>
        <ul>
          <li><a href="/dashboard">Accueil</a></li>
          <li><a href="/clients">Gestion des Clients</a></li>
          <li><a href="/rendezvous">Gestion des Rendez-vous</a></li>
          <li><a href="/services">Catalogue des Services</a></li>
          <li><a href="/employes">Gestion des Employés</a></li>
          <li><a href="/factures">Facturation</a></li>
        </ul>
      </aside>
      
</body>
</html>




