<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer le Service</title>
</head>
<body>
    <h1>Supprimer le service</h1>
    <form action="/services/<%= service._id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE"> <!-- Pour indiquer que la méthode est DELETE -->

        <p>Êtes-vous sûr de vouloir supprimer le service "<%= service.name %>" ?</p>
        
        <button type="submit">Supprimer le service</button>
    </form>
    <br>
    <a href="/services">Retour à la liste des services</a>
</body>
</html>
